.media-img {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0px 10px 10px 10px;
    padding: 25px;
}

    .media-img:hover {
        transform: scale(1.1);
    }

.media-img-wrapper {
    max-height: 500px;
    max-width: 500px;
    text-align: center;
}

.original-price {
    text-decoration: line-through;
}

.media {
    min-width: 300px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column;
    }

    .media-img {
        max-width: 300px;
    }



    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}
